body {
    margin: 0;
    text-align: center;
    font-family: 'Cormorant', serif;
}
h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Caveat', cursive;
}
h2{
    font-weight: normal;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.50rem;
}
h3{
    font-family: 'Nanum Gothic', sans-serif;
}
.top-container {
    background-color: #E5E3C9;
    position: relative;
    padding-top: 100px;
}
.middle-container {
}
.bottom-container {
}
.pro {
    text-decoration: underline;
}
.bottom-cloud {
   position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
 }